/* Glass */

.clean{
	text-align:center;
}


/* Home */

.outline-black {
  color:white;
  -webkit-text-stroke:2px black;
}

.outline-red {
  color:white;
  -webkit-text-stroke:2px red;
}

.outline-blue {
  color:white;
  -webkit-text-stroke:2px blue;
}

.outline-yellow {
  color:white;
  -webkit-text-stroke:2px #00FFFF;
}


/* Blue */

.Blue {
	display:flex;
	flex-wrap:wrap;
  
}
.blue-left {
	width:50%;
	height:100vh;
	background-color:blue;
}

.Blue-right {
	width:50%;
	height:100vh;
	background-color: yellow;
	font-size:9vw;
	overflow:hidden;
    font-family:Helvetica,Arial,sans-serif;
}

/* Batteries */

.all-blocks {
  display:flex;
  background:#FF99CC;
}

.all-blocks div {
  border-radius:200px;
}

.blocks-rgb {
  display:flex;
  flex-wrap:wrap;
  width:75%;
  height:100vh;
}

.blocks-red {
  background-color:red;
  height:50%;
  width:50%;
}

.blocks-blue {
  background-color:blue;
  height:50%;
  width:50%;
}

.blocks-green {
  background-color:lime;
  height:50%;
  width:50%;
}

.blocks-black {
  background-color:black;
  height:50%;
  width:50%;
}

.blocks-grays {
  width:25%;
}

.blocks-gray1 {
  height:25%;
  background-color:#000;
}
.blocks-gray2 {
  height: 25%;
  background-color:#333;
}
.blocks-gray3 {
  height: 25%;
  background-color:#999;
}
.blocks-gray4 {
  height: 25%;
  background-color:#eee;
}

.hemisphere {
	display:flex;
	flex-wrap:wrap;
}

.hemisphere-circle {
	width:50%;
	height:100vh;
}

.hemisphere-circle img {
	width:100%;
	height:100%;
	object-fit:contain;
	animation:rotate 1s linear infinite ;
}

@keyframes rotate {
  0% {
    transform:rotate(5deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

/* Icons */

.btn {
  background-color:blue;
  border:double;
  color:yellow;
  padding:16px 32px;
  text-align:flex;
  margin-left:60vh;
  font-size:270px;
  margin-top:400px;
}

/* ads */
.rotate-text {
  transform: rotate(90deg);
  transform-origin:top left;
  font-family:arial;
  font-size:18vh;
  margin-left:10vh;
  background-color:yellow;
}

.ads{
  text-align: center;
}

/* Shapes */

.square {
  height: 24vh;
  width: 24vw;
  background-color:blue;
}


.circle {
  height: 24vh;
  width: 24vw;
  background-color:yellow;
  border-radius: 50%;
  margin-top: 5vh;
}

.trapezoid {
  border-bottom: 18vh solid blue;
  border-left: 15vh solid transparent;
  border-right: 15vh solid transparent;
  height: 5vh;
  width: 10vw;
  margin-top: 5vh;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 20vh solid transparent;
  border-right: 20vh solid transparent;
  border-bottom: 30vh solid yellow;
  margin-top: 5vh;
  margin-left: 5vh;
}

/* Computer Games */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
}

.header h1 {
  text-align: center;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

.content {
  padding: 120px 0;
  margin: 50px auto 0 auto;
  width: 75%;
  font-size: 4vw;
  margin-left:20vh;
}


/* round */

.grid {
  display:flex;
  flex-wrap:wrap;
  font-family:Helvetica,Arial,sans-serif;
  font-size:8vw;
}

.grid-red {
  width:50%;
  height:50vh;
  background-color: red;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.grid-blue {
  width:50%;
  height:50vh;
  background-color: blue;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.grid-green {
  width:50%;
  height:50vh;
  background-color:lime;
  display:flex;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.grid-black {
  width: 50%;
  height: 50vh;
  background-color: black;
  justify-content:center;
  border-radius:50%;
}

/* Book covers */


.box{
  width: 70vw;
  height:80vh;
  box-shadow:0px 0px 60px 20px blue;
  margin-bottom: 300px;
  margin-left: 370px; 
  margin-top: 130px;  
}


/* Menus */
.line{
  width: 40vw;
  height: 2vw;
  background-color: black;
  margin: 1vw 30vw;
}


/*index page*/

.index {
  font-size:7vw;
  font-family:arial;
}

.index a {
  color:lime;
  display: block;
  text-decoration: none;
  transition: 1s;
  text-align:center;
}

.index a:hover {
  color:black;
  transition:1s;
}

.scale {
  width: 500px;
  transition:1s;
}

.scale:hover {
  width: 550px;
  transition:1s;
}

/* moon */

.grid-1 {
  display:flex;
}

.grid-1-white {
  width:50%;
  height:70vh;
  background-color:white;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.grid-1-blue {
  width:50%;
  height:70vh;
  background-color: blue;
  align-items:center;
  justify-content:center;
  border-radius:50%;
}

.name-m{
  color:red;
  font-size:15vw;
  text-align:center;
  font-family:Helvetica,Arial,sans-serif;
}

/* dirt */ 

.cloud-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(black, gray, yellow);
}

.cloud-dots {
  flex: 0 0 20%;
  background-image: linear-gradient(blue, white, gray);
  height: 25vh;
  border-radius: 50%;
  animation: bgpos 2s infinite linear;
}

@keyframes bgpos {
  0% {
  background-position:0 300px;
  }

  100% {
  background-position:0 0px;
  }


/* sand */

  .hemisphere {
  display: flex;
  flex-wrap: wrap;
}

.hemisphere-circle {
  width: 50%;
  height: 100vh;
  background-color: gray;
}

.hemisphere-circle img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: rotate 2s linear infinite ;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
}


.sky-earth {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  font-family: Helvetica,Arial,sans-serif;
}

.sky-text {
  font-size: 15vw;
  text-align: center;
  width: 100%;
  color: blue;
}

.sky-text-2 {
  font-size:15vw;
  text-align:center;
  width: 100%;
  color: yellow;
}

.earth-text {
  font-size: 15vw;
  text-align: center;
  width: 100%;
  color: lime;
}

/* planet */

.rotate-2{
  transform: rotate(45deg);
  transform-origin:bottom left;
  font-family: Helvetica,Arial,sans-serif;
  font-size:15vh;
  color:red;
  margin-left:70vh;
  margin-top:-30vh;
}

.rotate-3{
  transform: rotate(45deg);
  transform-origin:bottom left;
  font-family: Helvetica,Arial,sans-serif;
  font-size:15vh;
  color:yellow;
  margin-left:40vh;
  margin-top:-35vh;
}




