.sub  a{
	line-height: 5.5vh;
	margin-left: 3vh;
	color:white;
	font-size:1.25vw;
	text-decoration:none;
	font-family:arial;
	font-family:lighter;
}

.sub-1 a{
	margin-top: 2vh;
	transition: 0.1s;
	display: inline-block;
    
}

.sub-1 a:hover {
  color:lime;
  transition:0.1s;
}

.sub-2 a{
	transition: 0.1s;
	display: inline-block;
    
}

.sub-2 a:hover {
   color:lime;
   transition:0.1s;
}

.sub-3 a{
	transition: 0.1s;  
}

.sub-3 a:hover {
   color:lime;
   transition:0.1s;
}

.sub-4 a{
	transition: 0.1s; 
}

.sub-4 a:hover {
   color:lime;
   transition:0.1s;
}

.sub-5 a{
	transition: 0.1s;  
}

.sub-5 a:hover {
   color:lime;
   transition:0.1s;
}



.title a{
	text-decoration: none;
	transition:0.1s;
	font-family:arial;
	font-size:10vw;
	margin-top:12vh;
	margin-left:20vh;
	color:yellow;
}

.title a:hover{
	color:red;
    transition:0.1s;
    transform:scale(1.10);
}


h2{
	font-family:helvetica;
	font-weight:lighter;
	margin-left:7vh;
	line-height:3vh;
	margin-top:-152vh;
}

h1{
	font-family:helvetica;
	font-weight:lighter;
	margin-left:6vh;
	margin-top:2vh;
	font-size:14vw;
	color:black;
}

.JonathanMonk{
	margin-left:30vh; 
	margin-top:13vh;
	transition:0.1s;   
}

.JonathanMonk:hover{
    transform:scale(1.10);
}

.JonathanMonk-1{
	margin-left:33vh; 
    margin-top:10vh;
    transition:0.1s; 
}

.JonathanMonk-1:hover{
    transform:scale(1.10);
}

.JonathanMonk-2{
	margin-left:47vh;
	margin-top:15vh;
	transition:0.1s;
}

.JonathanMonk-2:hover{
    transform:scale(1.10);
}

.JonathanMonk-3{
	margin-left:110vh;
	margin-top:-90vh;
	transition:0.1s;
}

.JonathanMonk-3:hover{
    transform:scale(1.10);
}

.JonathanMonk-4{
	margin-left:106vh;
	margin-top:-60vh;
	transition:0.1s;
}

.JonathanMonk-4:hover{
	transform:scale(1.10);
}

.p-1{
	font-family:Helvetica,Arial,sans-serif;
	font-size:5vw;
	margin-top:2vh;
	margin-left:8vh;
	margin-right:8vh;
}

.A-Gtitle{
	font-family:Helvetica,Arial,sans-serif;
	font-size:5vw;
	text-align:center;
}

.name{
	line-height: 12vh;
	font-family:Helvetica,Arial,sans-serif;
	font-size:4vw;
	margin-top:2vh;
	margin-left:8vh;
	margin-right:7vh;
	text-height:2vh;
}

.ga{
	text-decoration:underline; 
	font-family:Helvetica,Arial,sans-serif;
	font-size:3vw;
	display: block;
	text-align: center;
	line-height:14vh;

}
.ga-1 a{
	color:yellow;
	transition:0.1s; 
}

.ga-1 a:hover{
    color:lime;
    transition:0.1s;
}

.ga-2 a{
	color:yellow;
	transition:0.1s; 
}

.ga-2 a:hover{
    color:lime;
    transition:0.1s;
}

.ga-3 a{
	color:yellow;
	transition:0.1s;
}

.ga-3 a:hover{
    color:lime;
    transition:0.1s;
}



.m-t { 
	font-family:Helvetica,Arial;
	font-size:7vw;
	color:black;
	text-align: center;

}

.pic{
	margin-left: 2vh;
	margin-top:2.5vh;
}

.p{
	font-size: 1vw;
	margin-top:2vh;
	margin-left:1vh;
}

.p-2{
	font-size:3vw;
	margin-top:-60vh;
	margin-left:90vh;
	color:#FFFFFF;
}

.p-m{
	margin-left:10vh;
	margin-top:5vh;
	font-family:Helvetica,Arial,sans-serif;
	font-size:12vw;
	color:blue;
	line-height:23vh;
}

.p-3{
	font-size:2.5vw;
	width:600px;
    height:200px;
    margin-left:93vh;
    margin-top:-46vh;
    color:#FFFFFF;
}

.nav{
	font-size:10vw;
	font-family:Helvetica,Arial,sans-serif;
	text-align:center;
}

.p-4{
	font-size:2.5vw;
	width:850px;
    height:200px;
    margin-left:29vh;
    color:white;
}

.nav-1{
	font-size:10vw;
	font-family:Helvetica,Arial,sans-serif;
	text-align:center;
}

.p-5{
	font-size:2.5vw;
	width:850px;
    height:200px;
    margin-left:29vh;
    color:white;
}

.p-6{
	margin-top:3vh;
	font-size:2.5vw;
	width:880px;
    height:200px;
    margin-left:27vh;
    color:white;
}

.p-8{
	font-family:Helvetica,Arial,sans-serif;
	font-size:5vw;
	margin-top:2vh;
	margin-left:8vh;
	margin-right:8vh;
}


.img {
	border:white;
	margin-top:5vh;
	margin-left:10vh;
}


.img-1{
	margin-top:-45vh;
	margin-left:110vh;
}

.img-2{
	margin-top:6vh;
	margin-left:110vh;
}

.img-3{
	margin-top:-45vh;
	margin-left:10vh;
}

.nav-2{
	text-decoration:none;
	color:black;
}


